.table-scroll {
  height: 700px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.table {
  margin: 5%;
  width: 80%;
}

.textarea {
  margin-left: 5%;
  width: 70%;
}

th {
  font-size: medium;
}

div {
  margin: 5%;
  margin-top: 0%;
  vertical-align: middle;
}

button {
  background-color: cornflowerblue;
  color: aliceblue;
  font-weight: bolder;
}
.form-check-input:checked  {
  text-decoration:line-through;
}


/* tbody::-webkit-scrollbar {
    width: 12px;               
  }
   */
/* table::-webkit-scrollbar-track {
    background: orange;       
  }
   */
/* table::-webkit-scrollbar-thumb {
    background-color: blue;    
    border-radius: 20px;      
    border: 3px solid orange;  
  }
   */

/* .strikethrough:checked + span{
    text-decoration:line-through
  } */