<div class="container-fluid">
    <div class="table-scroll">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Change</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; let i=index">
                    <td>{{i+1}}</td>
                    <td id="strikethrough"><span>{{user.title}}</span></td>
                    <td id="status">{{user.completed}}</td>
                    <td><input type="checkbox" class="form-check-input" [value]="user.id" [(ngModel)]="user.completed" change="changeStatus($event)" /></td>
                </tr>
            </tbody>
        </table>
    </div>

    <br>
    <div>
        <textarea class="textarea" name="description" id="inputTodo" #text></textarea>
        <button (click)="AddUser()">Add Todos</button>
        <!-- <button (click)="saveUser()">Add save</button> -->
    </div>

</div>